Aaron Bentley <abentley@panoramicfeedback.com> <aaron.bentley@utoronto.ca>
Ben Finney <benf@cybersource.com.au> <ben+python@benfinney.id.au>
Ben Finney <benf@cybersource.com.au> <jdoe@example.com>
Chris Ball <cjb@laptop.org> <cjb@t60>
Chris Ball <cjb@laptop.org> <cjb@thunk.printf.net>
Gianluca Montecchi <gian@grys.it>
Gianluca Montecchi <gian@grys.it> <gian@galactica>
Gianluca Montecchi <gian@grys.it> <gian@li82-39>
Jan Gerber <j@oil21.org>
Marien Zwart <marien.zwart@gmail.com> <marienz@gentoo.org>
Tanguy Le Carrour <tanguy.lecarrour@gmail.com>
W. Trevor King <wking@drexel.edu> <wking@thialfi>
W. Trevor King <wking@drexel.edu> <wking@mjolnir>
