table
{
    background-color: black;
}
td
{
    background-color: white;
}
h1
{
    font-family: "Verdana";
    font-weight: bold;
    font-size: 120%;
    margin-bottom:0;
    color: #990;
}

tr.closed td
{
    background-color: #ccc;
}

a:visited, a:link
{
    color: #990;
    text-decoration: None;
}
td a:visited, td a:link
{
    display: block;
}
a:visited:hover, a:link:hover
{
    text-decoration: underline;
}
td a:visited:hover, td a:link:hover
{
    color:black;
    background-color:#dda;
    text-decoration: None;
    display: block;
}

body
{
    font-family: "Verdana";
    font-size:11pt;
    background-color: white;
}
.comment
{
}
.comment table
{
    background-color: transparent;
}
.comment td
{
    background-color: transparent;
}
.comment pre
{
    font-family: "Verdana";
}
#header
{
    color: black;
    font-weight: bold;
    background-image: url(/static/images/half-spiral.png);
    background-position: right center;
    background-repeat: no-repeat;
    background-color: #ff0;
}
#header ul.navoption
{
    display: block;
    float: right;
    margin: 0;
    padding-right: 30px;
}
#header li
{
    display: inline;
    margin:0;
    padding:0;
}
table.insetbox
{
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}
.insetbox tr, .insetbox td
{
  margin: 0;
  padding: 0;
}
pre.traceback
{
  font-family: Verdana, Ariel, Helvetica, sanserif;
}
tr.even td
{
  background-color: #eee;
}
