<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html>
    <head>
        <title>Cherry Flavored Bugs Everywhere!</title>
        <link rel="stylesheet" type="text/css" media="screen" 
              href="/static/style/aal.css" />
        <link rel="stylesheet" type="text/css" media="screen"
              href="/static/style/cfbe.css" />
    </head>
    
    <body>
        <div id="logo"><p>Cherry Flavored Bugs Everywhere!</p></div>
        <div id="header"><h1>stevelosh</h1></div>
        {% block content %}{% endblock %}
    </body>
</html>
