<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html>
    <head>
        <title>Cherry Flavored Bugs Everywhere!</title>

        <link rel="stylesheet" type="text/css" media="screen"
              href="/static/style/aal.css" />
        <link rel="stylesheet" type="text/css" media="screen"
              href="/static/style/cfbe.css" />

        <script type="text/javascript"
        src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js">
        </script>

        <script type="text/javascript"
        src="/static/scripts/jquery.corners.min.js">
        </script>

        <script type="text/javascript">
            $(function() {
                $('#filter-assignee').click(function(e) {
                    $('#filter-pane').html($('#assignees').html());
                    $('#filter-pane').fadeIn('fast');
                    e.preventDefault();
                });

                $('#filter-target').click(function(e) {
                    $('#filter-pane').html($('#targets').html());
                    $('#filter-pane').fadeIn('fast');
                    e.preventDefault();
                });

                $('#filter-tag').click(function(e) {
                    $('#filter-pane').html($('#tags').html());
                    $('#filter-pane').fadeIn('fast');
                    e.preventDefault();
                });

                $('#create-bug').click(function(e) {
                    $('#create-bug').hide();
                    $('#create-form').fadeIn('fast');
                    e.preventDefault();
                });

                $('table tr:odd').addClass('stripe');
            });
        </script>

        {% block script %}{% endblock %}
    </head>

    <body>
        <div id="main-pane">
            <div id="header" class="inside-main-pane">
		<h1><a href="/">{{ repository_name }}</a></h1>
            </div>
            <div id="navigation" class="inside-main-pane">
                <span id="filters">
                    <a href="/">Open</a>
                    <a href="/?status=closed">Closed</a>
                    <a href="" id="filter-assignee">Assigned to...</a>
                    <a href="" id="filter-target">Scheduled for...</a>
                    <a href="" id="filter-tag">Tags...</a>
                </span>
                <span id="create">
                    <a href="" id="create-bug">&#43; Create a new bug</a>
                </span>
                <span id="create-form">
                    <form action="/create" method="post">
                        <fieldset>
                            <input type="text"
                                   id="create-summary" name="summary" />
                            <button id="create-button"
                                    type="submit">Create</button>
                        </fieldset>
                    </form>
                </span>
            </div>
            <div id="filter-pane" class="inside-main-pane"></div>
            <div id="content-pane" class="inside-main-pane">
                <h2>{% block page_title %}&nbsp;{% endblock %}</h2>
                {% block content %}{% endblock %}
            </div>
            <div id="footer" class="inside-main-pane">
                <p>Bugs Everywhere</p>
            </div>
        </div>
        <div id="assignees">
            <ul class="filter-items">
                <li><a href="/?assignee=None">Unassigned</a></li>
                {% for assignee in assignees %}
                    {% if assignee != "None" %}
                        <li><a href="/?assignee={{ assignee|e }}">{{ assignee|e }}</a></li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
        <div id="targets">
            <ul class="filter-items">
                <li><a href="/?target=None">Unscheduled</a></li>
                {% for target in targets %}
                    <li><a href="/?target={{ target }}">{{ target }}</a></li>
                {% endfor %}
            </ul>
        </div>
        <div id="tags">
            <ul class="filter-items">
                <li><a href="/?tag=None">All</a></li>
                {% for tag in tags %}
                    <li><a href="/?tag={{ tag }}">{{ tag }}</a></li>
                {% endfor %}
            </ul>
        </div>
   </body>
</html>
