{% extends "base.html" %}

{% block page_title %}
    {{ label }}
{% endblock %}

{% block content %}
    <table id="bug-list">
        <tr>
            <th>ID</th>
            <th>Summary</th>
            <th>Status</th>
            <th>Assigned To</th>
        </tr>
        {% for bug in bugs %}
        <tr>
            <td>{{ bug.id.user() }}</td>
            <td><a href="/bug?{{ urlencode({'id':bug.id.long_user()}) }}">
                {{ bug.summary|e|truncate(70) }}</a></td>
            <td>{{ bug.status }}</td>
            <td>{{ bug.assigned|striptags }}</td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}
